# Python cache files
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/*.pyw
**/*.pyz

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Environment
.env
venv/
.venv/

# Model
models/

# Results
results/

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
*.log
